In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import mysql.connector
import json

In [2]:
#server = '192.168.10.138' remote
server = '127.0.0.1'

conn = mysql.connector.connect(user='root', password='gmw6504192658',
                                            host=server, database='nd100list', charset='utf8',
                                            use_unicode=True)
cursor = conn.cursor()  # Database operation

In [3]:
df_allnd100list= pd.read_sql('SELECT * FROM nd100list', con=conn)

In [4]:
df_allnd100list.head(2)

,id,symbol,url,descShort,descLong,CEO,address,shares_out,inst_own,mark_cap,NIGR_result
0,2,AAL,http://www.cnbc.com/quotes/?symbol=AAL,American Airlines Group Inc. is a holding comp...,American Airlines Group Inc. is a holding comp...,William Douglas Parker,"4333 Amon Carter Blvd, Fort Worth, Texas, Unit...",460.5M,81.82%,14.2B,"{""2014-2013"": ""257.14%"", ""2015-2014"": ""164.05%..."
1,3,DLTR,http://www.cnbc.com/quotes/?symbol=DLTR,"Dollar Tree, Inc. is an operator of discount v...","Dollar Tree, Inc. is an operator of discount v...",Gary M. Philbin,"500 Volvo Pkwy, Chesapeake, Virginia, United S...",237.9M,93.89%,19.3B,"{""2014-2013"": ""0.42%"", ""2015-2014"": ""-52.87%"",..."

In [5]:
def CustomParser(data):
    j1 = json.loads(data)
    return j1

In [6]:
df_allnd100list['NIGR_result'] = df_allnd100list['NIGR_result'].apply(CustomParser)
df_allnd100list[sorted(df_allnd100list['NIGR_result'][0].keys())] = df_allnd100list['NIGR_result'].apply(pd.Series)
df_allnd100list.drop(columns='NIGR_result',inplace = True)

In [7]:
def conv_str_TB(str):  #[round(float(i), 2) for i in mylist]
    if str[-1] == 'T':
        return round(float(str[:-1])*1000, 3)
    else:
        return round(float(str[:-1]), 3)

def conv_str_BM(str):  #[round(float(i), 2) for i in mylist]
    if str[-1] == 'B':
        return round(float(str[:-1])*1000, 3)
    else:
        return round(float(str[:-1]), 3)

In [8]:
df_allnd100list['mark_cap'] = df_allnd100list['mark_cap'].apply(conv_str_TB)
df_allnd100list['shares_out'] = df_allnd100list['shares_out'].apply(conv_str_BM)
df_allnd100list['inst_own'] = df_allnd100list['inst_own'].apply(lambda x: round(float((x[:-1]))/100,4))

In [9]:
def p2f(x):
    return float(x.replace(',', "").strip('%'))
#p2f('24816.87%')
df_allnd100list['2017-2016'] = df_allnd100list['2017-2016'].apply(p2f)
df_allnd100list['2016-2015'] = df_allnd100list['2016-2015'].apply(p2f)
df_allnd100list['2015-2014'] = df_allnd100list['2015-2014'].apply(p2f)
df_allnd100list['2014-2013'] = df_allnd100list['2014-2013'].apply(p2f)

In [10]:
df_allnd100list.head()

,id,symbol,url,descShort,descLong,CEO,address,shares_out,inst_own,mark_cap,2014-2013,2015-2014,2016-2015,2017-2016
0,2,AAL,http://www.cnbc.com/quotes/?symbol=AAL,American Airlines Group Inc. is a holding comp...,American Airlines Group Inc. is a holding comp...,William Douglas Parker,"4333 Amon Carter Blvd, Fort Worth, Texas, Unit...",460.5,0.8182,14.2,257.14,164.05,-64.84,-28.29
1,3,DLTR,http://www.cnbc.com/quotes/?symbol=DLTR,"Dollar Tree, Inc. is an operator of discount v...","Dollar Tree, Inc. is an operator of discount v...",Gary M. Philbin,"500 Volvo Pkwy, Chesapeake, Virginia, United S...",237.9,0.9389,19.3,0.42,-52.87,217.35,91.29
2,4,CSCO,http://www.cnbc.com/quotes/?symbol=CSCO,"Cisco Systems, Inc. designs and sells a range ...","Cisco Systems, Inc. designs and sells a range ...",Charles H. Robbins,"170 W Tasman Dr, San Jose, California, United ...",4600.0,0.7805,210.9,14.36,19.57,-10.52,-98.86
3,5,CTSH,http://www.cnbc.com/quotes/?symbol=CTSH,Cognizant Technology Solutions Corporation is ...,Cognizant Technology Solutions Corporation is ...,Francisco D'Souza,"500 Frank W Burr Blvd, Teaneck, New Jersey, Un...",580.0,0.9233,41.9,17.15,12.83,-4.37,-3.16
4,6,DISH,http://www.cnbc.com/quotes/?symbol=DISH,DISH Network Corporation is a holding company....,DISH Network Corporation is a holding company....,W. Erik Carlson,"9601 S Meridian Blvd, Englewood, Colorado, Uni...",466.5,1.0085,15.4,10.51,-20.92,100.50,40.11

In [14]:
df_allnd100list.rename(index=str, columns={"shares_out": "shares_out(million)", "mark_cap": "mark_cap(billion)"},inplace= True)

In [15]:
#df_allnd100list.ix[df_allnd100list['symbol']=='AAPL']

In [16]:
#df_allnd100list.ix[df_allnd100list['shares_out'].idxmax()]

In [17]:
df_allnd100list.to_csv('./csv/list_profit.csv',encoding='utf-8',index=False)

In [63]:
#def p2f(x):
#    return float(x.replace(',', ".").strip('%'))
#p2f('24816.87%')

24816.87

In [64]:
#df_allnd100list['2016-2015'].apply(p2f)

ValueError: could not convert string to float: '1.943.84'