In [30]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
#import mysql.connector
import plotly
import plotly.plotly as py #library https://plot.ly/pandas/
import plotly.graph_objs as go
#NASAQ 3 Year NIGR>25, preIPO 招股说明书上市前两年净收入。分析数字背后的故事，看懂数字背后的金融来去，包括投资到未来有成长空间的。软件和电商类优先。
plotly.tools.set_credentials_file(username='zhenxu66', api_key='yZ5rrla4FGut06wbewMo')

In [31]:
df_allnd100list= pd.read_csv('./csv/list_profit.csv')

In [32]:
df_allnd100list.head(2)

,id,symbol,url,descShort,descLong,CEO,address,shares_out(million),inst_own,mark_cap(billion),2014-2013,2015-2014,2016-2015,2017-2016
0,2,AAL,http://www.cnbc.com/quotes/?symbol=AAL,American Airlines Group Inc. is a holding comp...,American Airlines Group Inc. is a holding comp...,William Douglas Parker,"4333 Amon Carter Blvd, Fort Worth, Texas, Unit...",460.5,0.8182,14.2,257.14,164.05,-64.84,-28.29
1,3,DLTR,http://www.cnbc.com/quotes/?symbol=DLTR,"Dollar Tree, Inc. is an operator of discount v...","Dollar Tree, Inc. is an operator of discount v...",Gary M. Philbin,"500 Volvo Pkwy, Chesapeake, Virginia, United S...",237.9,0.9389,19.3,0.42,-52.87,217.35,91.29

In [33]:
df_allnd100list_25 = df_allnd100list[(df_allnd100list['2015-2014']>25)
                                     & (df_allnd100list['2016-2015']>25) & (df_allnd100list['2017-2016']>25)]
if len(df_allnd100list_25)<10:
    print(df_allnd100list_25)

     id symbol                                       url  \
24   26   TMUS   http://www.cnbc.com/quotes/?symbol=TMUS
27   29   TTWO   http://www.cnbc.com/quotes/?symbol=TTWO
36   38   REGN   http://www.cnbc.com/quotes/?symbol=REGN
37   39  QRTEA  http://www.cnbc.com/quotes/?symbol=QRTEA
56   58   LRCX   http://www.cnbc.com/quotes/?symbol=LRCX
69   71   HOLX   http://www.cnbc.com/quotes/?symbol=HOLX
77   79     FB     http://www.cnbc.com/quotes/?symbol=FB
91   93   AMZN   http://www.cnbc.com/quotes/?symbol=AMZN
98  100   ADBE   http://www.cnbc.com/quotes/?symbol=ADBE

                                            descShort  \
24  T-Mobile US, Inc. is a wireless company. As of...
27  Take-Two Interactive Software, Inc. is a devel...
36  Regeneron Pharmaceuticals, Inc. is a biopharma...
37  Qurate Retail, Inc., formerly Liberty Interact...
56  Lam Research Corporation is a supplier of wafe...
69  Hologic, Inc. is a developer, manufacturer and...
77  Facebook, Inc. is focused on building products...
91  Amazon.com, Inc. offers a range of products an...
98  Adobe Inc., formerly Adobe Systems Incorporate...

                                             descLong  \
24  T-Mobile US, Inc. is a wireless company. As of...
27  Take-Two Interactive Software, Inc. is a devel...
36  Regeneron Pharmaceuticals, Inc. is a biopharma...
37  Qurate Retail, Inc., formerly Liberty Interact...
56  Lam Research Corporation is a supplier of wafe...
69  Hologic, Inc. is a developer, manufacturer and...
77  Facebook, Inc. is focused on building products...
91  Amazon.com, Inc. offers a range of products an...
98  Adobe Inc., formerly Adobe Systems Incorporate...

                         CEO  \
24            John J. Legere
27           Strauss Zelnick
36  Dr. Leonard S. Schleifer
37         Michael A. George
56         Martin B. Anstice
69      Stephen P. MacMillan
77           Mark Zuckerberg
91          Jeffrey P. Bezos
98          Shantanu Narayen

                                              address  shares_out(million)  \
24  12920 Se 38th St, Bellevue, Washington, United...                847.2
27  110 W 44th St, New York, New York, United Stat...                113.8
36  777 Old Saw Mill River Rd, Tarrytown, New York...                108.0
37  12300 Liberty Blvd, Englewood, Colorado, Unite...                460.3
56  4650 Cushing Pkwy, Fremont, California, United...                153.4
69  250 Campus Dr, Marlborough, Massachusetts, Uni...                272.1
77  1601 Willow Rd, Menlo Park, California, United...               2900.0
91  410 Terry Ave N, Seattle, Washington, United S...                487.7
98  345 Park Ave, San Jose, California, United Sta...                489.0

    inst_own  mark_cap(billion)  2014-2013  2015-2014  2016-2015  2017-2016
24    0.3495               57.9     605.71     196.76      99.18     210.68
27    0.9549               14.7    -187.16      97.03     895.33     162.58
36    0.7376               41.5     -17.98      82.74      40.79      33.83
37    0.9532                9.7      -2.40      77.71      39.82     100.91
56    0.9555               22.0       3.68      39.43      85.74      40.22
69    1.0260               10.9     101.48     660.69     151.37     128.39
77    0.7454              444.5      96.18      25.44     177.68      56.26
91    0.5859              872.4    -187.96     347.30     297.82      27.92
98    0.8780              121.7      -7.45     134.56      85.65      44.93

In [28]:

fig = {
    'data': [
        {
            'x': df_allnd100list_25['mark_cap(billion)'], 
            'y': df_allnd100list_25['shares_out(million)'], 
            'text': df_allnd100list_25.symbol + ' CEO:'+ df_allnd100list_25.CEO,  #cannot access columns with '' '' 
            'mode': 'markers', #+text
            'marker':dict(
                size= 8, #30*df_allnd100list['inst_own'],
                color = df_allnd100list_25['inst_own'], #set color equal to a variable
                colorscale='Viridis',
                showscale=True
            ),
            'name': 'Results'},      

    ],
    'layout': {
        'title': 'inst_own compared with shares_out (million) and mark_cap (billion)',
        'xaxis': {'title': 'mark_cap(billion)', 'type': 'log'},
        'yaxis': {'title': "shares_out(million)"},
        'showlegend': True,
        'annotations':[ #not working
            dict(
                x=1100,#df_allnd100list[df_allnd100list.symbol=='AAPL']['mark_cap(billion)'].item(),
                y=4800,#df_allnd100list[df_allnd100list.symbol=='AAPL']['shares_out(million)'].item(),
                xref='x',
                yref='y',
                text='dict Text is here',
                showarrow=True,
                arrowhead=7,
                ax=0,
                ay=-40
            ),
        ]
    }
}

In [29]:
py.iplot(fig, filename='scatter')  #py.plot will generate a webpage

In [95]:
df_allnd100list[df_allnd100list.symbol=='AAPL']['mark_cap(billion)'].item()

1100.0

In [102]:
df_allnd100list[df_allnd100list.symbol=='AAPL']['shares_out(million)'].item()

4800.0